.slide-drawer {
  height: 100%;
  background: #cb7b96;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 70%;
  max-width: 400px;
  transform: translateX(-100%);
  transition: transform 0.5s ease-out;
}

.slide-drawer.open {
  transform: translateX(0);
}
.slide-drawer h1 {
  color: white;
  text-decoration: none;
  text-align: center;
  padding-top: 3rem;
}

.slide-drawer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30%;
}

.slide-drawer li {
  margin: 0.5rem 0;
}

.slide-drawer a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.slide-drawer a:hover,
.slide-drawer a:active {
  color: #266f75;
  font-weight: bold;
}
