.about-wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.imageDiv {
  position: relative;
  height: 40vh;
  width: 15vw;
  margin: 15px auto;
}

.imageDiv img {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.imageDiv img.top:hover {
  opacity: 0;
}

.descDiv {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  border: 2px solid #cb7b96;
  border-radius: 40px;
  padding: 55px;
}
